@model IEnumerable<WebApp.Database.Entity.PriceList>

@{
    ViewData["Title"] = "Index";
}

<h2>Прайс-листы</h2>

<p>
    <a asp-action="CreateWithColumn" class="btn btn-primary">Создать Прайс-лист</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название прайс листа
             </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Title)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удаление</a>
            </td>
        </tr>
}
    </tbody>
</table>
